body{
    margin: 0%;
    position: fixed;
   
} 


.ellipse1{
    height: 1000px;
    width: 1000px;
    margin-left: -55px;
    margin-top: 10px;
    fill: #0C1D37;
}

.ellipse2{
    height: 800px;
    width: 800px;
    margin-left: -670px;
    margin-top: -340px;
    fill: #fd00e8;
}

.ellipse3{
    height: 800px;
    width: 800px;
    margin-left: 55px;
    margin-top: 140px;
    fill: #00FFE0;
}

.ellipses{
    display: flex;
}

 
   .backgroundDiv{
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(800px);
    width: 100%;
    height: 100%;   
} 

.rectangle{
    position: fixed;
    background-color: #091629;
    height: 100%;
    width: 140px;    

}


.logo{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
margin-bottom: 0px;
}

svg.icon{
    height: 30px;
    width: 30px;
}

li#item-house{
    margin-top: 90%;
    margin-bottom: 120%;
}
li#item-products, #item-suplier, #item-user{
    margin: 30px;
}


ul::after {
    content: "";
    display: block;
    width: 2px;
    height: 1000px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
}


.box{

    margin-top: 10%;
    margin-left: 15%;
    width: 1000px;
    height: 500px;
    background-color: transparent;
}

.firstText{

    font-family: 'Roboto', sans-serif;
    margin: 0%;
    font-size: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}


#text1{
    color: rgb(255, 255, 255)
}
#text2{
    margin-top: -5%;
}


.secondText{

    font-family: 'Roboto', sans-serif;
    margin: 0%;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.button{
    position: absolute;
    width: 229px;
    height: 54px;
    left: 600px;
    top: 466px;
    border: transparent;
    background: linear-gradient(92.82deg, rgba(0, 255, 163, 0.83) 10.5%, rgba(180, 72, 162, 0.66) 52.11%, #440960 85.16%);
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
}

.miniElipse{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 340px;
    top: 505px;

}