  body{
    position: fixed;
}  

 svg{
    position: fixed;
    width: 100px;
    height: 100px;    
    margin-left: 95%;
    margin-top: -53px;
} 

 div#frame1{
    width: 1029px;
    height: 1014px;
    background-image: url(/images/Frame1.png);
    background-size: 100% 100%;
    margin-left: -218px;
    margin-top: -153px;
} 

 div#frame2{
    width: 400px;
    height: 400px;
    margin-top: -400px;
    margin-left: 1200px;
    background-image: url(/images/Frame2.png);
    background-size: 100% 100%;
} 

div#container{
    width: 588px;
    height: 588px;
    margin-top: -760px;
    margin-left: 677px;
    background: rgba(255, 255, 255, 0.5);
    background-size: 100% 100%;
    /* Hacer ver borroso dentro de la caja */
    backdrop-filter: blur(20px);
    /* Borde redondeado */
    border-radius: 20px;
    /* Sombreado de la caja */
    filter: drop-shadow(0px 4px 60px rgba(0, 0, 0, 0.2));
}
 
div#section-logo{
    display: flex;
    width: 138px;
    height: 39px;
    margin-left: 70%;
    padding-top: 3.5%;
}

img#logo{
    width: 40px;   
    height: 40px;

}

h2{
    display: flex;
    margin-left: 8.4%;
    font-size: 19px;
    align-items: center;
    font-weight: 500;
    color: #4B4B4B;
    font-family: 'Segoe UI';
}

h1#linea1,#linea2{
    margin-left: 12%;
    font-weight: 700;
    color: #4B4B4B;
    font-family: 'Poppins', sans-serif;
}
