.ContentProducts {
  display: flex;
  overflow: hidden;
  padding-top: 15px;
  width: calc(100% - 30px);
  height: 1000px;
  background: rgba(120, 196, 186, 0.44);
  border-radius: 10px;
  justify-content: center;
}
