.Users {
  min-height: 100vh;
  width: 100%;
  background-color: aquamarine;
}
.wrapper-list-users {
  width: calc(100% - 70px);
  padding-top: 15px;
  margin-left: 70px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 223, 223);
  justify-content: center;
  align-items: center;
}
